name: Buikd

on:
  workflow_call:
    inputs:
      preset:
        default: 'x86-debug'
        type: string
      conan_registry:
        default: 'http://192.168.0.206:3000/api/packages/VisiMAX/conan'
      conan_username:
        default: 'Alban'
        type: string
    secrets:
      CONAN_PASSWORD:
        required: true

jobs:
  build:
    runs-on: windows
    steps:
      - uses: actions/checkout@v4
      - name: Configure Conan Remote
        run: |
          conan remote add gitea_registry ${{ inputs.conan_registry }} --force
          conan remote login gitea_registry ${{ inputs.conan_username }} -p ${{ secrets.CONAN_PASSWORD }}
            - name: Build Project
        run: |
          conan install . -s arch=x86 -s build_type=Release --build=missing -c tools.cmake.cmaketoolchain:generator=Ninja 
      - uses: ilammy/msvc-dev-cmd@v1  
        with:    
          arch: x86
      - name: Build
        run: |    
          cmake --preset x86-debug    
          cmake --build --preset x86-debug
